@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@charset utf-8;

nav {
	background:#fff;
}
.mainnav a.nav-link {
	color:#333 !important;
	font-size:18px;
	font-weight:600;
	letter-spacing:-1px;
}
a.nav-link {
    transition: color .3s;
}
a.nav-link:hover {
	color:#f4731a !important;
}
.navbar {
	padding:0px;
	border-bottom:1px solid #f4731a;
}
.navbar.topbar {
	display:flex;
	height:43px;
	background:#f5f5f5;
	border:1px solid #e1e7ec;
}
.navbar .nav-item {
	padding:.3rem .3rem;
	margin:0 .25rem;
}
.fullmenu > a::before {
	content:'';
	background:url('../images/btn_allNavOpen.png') no-repeat;
	position:absolute;
	top: 9px;
	left: 17px;
	width: 23px;
	height:17px;
	z-index: 10;
}
.fullmenu > a {
	background:#f4731a;
	border-radius:16px;
	min-width:114px;
	height:35px;
	font-size:14px;
	text-align:right;
	line-height: 32px;
	color:#fff;
	padding-right: 12px;
	display:block;
	position:relative;
}
.fullmenu > a:hover {
	text-decoration:none;
}
.fullmenu .dropdown-menu a {
	color:#333;
	transition: color .3s;	
}
.navbar-toggler {
	background:#f4731a;
	margin:7px 7px;
}
.ay-brand {
	padding:7px 7px;
}
.ay-submenu h3,
.ay-submenu h3 a {
	font-size:16px;
	font-weight:600;
	margin-bottom:5px;
	color:#000;
	transition: color .3s;
}
.ay-submenu > .dropdown {
	padding:0px;
}
.ay-submenu > .dropdown.show {
	position:static;
}
.ay-submenu .dropdown.show .dropdown-menu,
.fullmenu .dropdown-menu.show {
	display:table;
	width:100%;
	text-align:center;
	left:0;
	right:0;
	border-top:0px;
	border-right: 0px;
	border-bottom:1px solid #f4731a;
	border-radius:0px;
}
.ay-submenu > .dropdown.show > a {
	color:#f4731a !important;
}
.ay-submenu .ay-2depth li::before,
.fullmenu .dropdown-menu a::before {
    content: '.';
    font-size: 25px;
    height: 16px;
    line-height: 12px;
    vertical-align: top;
    margin-right: 5px;
}
.ay-submenu .ay-2depth li a {
	color:#333;
	transition: color .3s;	
    letter-spacing:-1.4px
}
.ay-submenu .ay-2depth li a:hover,
.ay-submenu h3 a:hover,
.ay-submenu .m-menusprite:hover,
.fullmenu .dropdown-menu a:hover {
	color:#f4731a;
	text-decoration:none;
}
.m-menusprite {
	display:table-cell;
	width: 120px;
	background:url('../images/m_menusprite.gif') no-repeat;
	padding: 72px 10px 0 10px;
	text-align:center;
	color:#333;
	transition: color .3s;		
}
.m-menusprite.m01 {
	background-position:12px 0px;
}
.m-menusprite.m02 {
	background-position:-88px 0px;
}
.m-menusprite.m03 {
	background-position:-190px 0px;
}
.m-menusprite.m04 {
	background-position:-292px 0px;
}
.m-menusprite.m05 {
	background-position:-393px 0px;
}
.m-menusprite.m06 {
	background-position:-496px 0px;
}
.m-menusprite.m07 {
	background-position:-600px 0px;
}
.m-menusprite.m08 {
	background-position:-698px 0px;
}
.m-menusprite.m09 {
	background-position:-804px 0px;
}
.m-menusprite.m10 {
	background-position:-904px 0px;
}
.slide-container {
	position:relative;
}
.main-slider {
	background:url('../images/sample_mainVisual_outBg.jpg') repeat-x;
	background-size:cover;
	padding:30px 30px;
	border-bottom:1px solid #f4731a;
}
.main-slider .inner {
	background:none;
	margin:0 15px;
}
.main-slider .inner a {
	display:block;
	width:100%;
}
.main-slider .inner a img {
	margin:0px auto;
}
.slidenav .prev,
.slidenav .next {
	cursor:pointer;
}
.slidenav .prev {
	position:absolute;
	top:35%;
	left:0px;
}
.slidenav .next {
	position:absolute;
	top:35%;
	right:0px;
}
.site-footer {
	margin-top:50px;
	padding:45px 0;
	background:#374250;
}
.noticetab {
	border:1px solid #eee;	
	min-height:235px;
}
.noticetab .nav-item .nav-link {
	background:#f9f9f9;
	font-size:15px;
	font-weight:600;
	color:#888;	
	border:1px solid #eee;
	border-width: 0 0 1px 1px;
	border-radius:0px;	
}
.noticetab .nav-item .nav-link:hover {
	color:#3c60af !important;
}
.noticetab .nav-item:nth-child(1) .nav-link {
	border-left:0px;
}
.noticetab .nav-item .nav-link.active {
	border-bottom:3px solid #3c60af;
	background:#fff;
	color:#3c60af;
}
.noticecontent .tab-pane {
	font-size:14px;
	padding:20px;
}
.noticecontent table {
	table-layout:fixed;
}
.noticecontent table td,
.noticecontent .noticetitle,
.noticecontent .noticetitle a {
	font-size:12px;
	color:#000;
	text-align:left;
	border-top:0px;
	letter-spacing:-0.05em;
	transition: color .3s;
}
.noticecontent .noticetitle {
	width:55%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.noticecontent .noticetitle a {
	max-width:100%;
	height:20px;
}
.noticecontent .noticetitle a:hover {
	text-decoration:none;
	color:#3c60af;
}
.noticecontent .noticedate {
	width:20%;
	font-size:12px;
}
.noticecontent table td {
	background:#fff;
	text-align:right;
	padding:4px;

}
.owner-area .owner-image {
	position:relative;
	width:100%;
	height:100%;
}
.owner-area .owner-say {
	position:absolute;
	top:0;
	right:15px;
	height:100%;
}
.owner-area .owner-say li {
	background:rgba(102,117,168,0.8);
	border-top:1px solid #fff;
	padding:0 20px 0 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 33.333%;
}
.owner-area .owner-say li a {
	width:100%;
	padding:30% 0;
	font-size:16px;
	font-weight:600;
	text-align:left;
}
.newscontent h4 {
	font-size:18px;
	font-weight:600;
	padding:0 0 5px 10px;
}
.newscontent .newsdetail {
	border:1px solid #eeeeee;
	min-height:357px;
	position:relative;
}
.newscontent .newsdetail .news-image {
	width:100%;
}
.newscontent .newsdetail strong {
	padding:16px;
	display:block;
	color:#3c60af;
	font-weight:600;
}
.newscontent .newsdetail p {
	padding:0 16px;
	font-size:12px;
}
.newscontent .newsdetail .readmore {
	margin:20px 10px 10px 10px;
	position:absolute;
	bottom:10px;
	right:10px;
}
.newscontent .newsdetail.yellow {
	background:#ffc104;
}
.newscontent .newsdetail.yellow a {
	display:block;
	width:100%;
	height:100%;
	padding-bottom:25px;
}
.newscontent .newsdetail.yellow a:hover {
	text-decoration:none;
}
.newscontent .newsdetail.yellow a strong {
	padding-top:0px;
	font-size:18px;
}
.newscontent .newsdetail.yellow a p {
	font-size:12px;
}
footer h4 {
	font-size:18px;
	font-weight:600;
	letter-spacing:-0.03em;
	color:#fff;
	padding-bottom:30px;
}
footer h5 {
	color:#9da9b9;
	font-size:18px;
	font-weight:600;
	letter-spacing:-0.03em;
	margin-top:10px;
	margin-bottom:13px;
	padding-bottom:13px;
	border-bottom:1px solid #566170;
}
footer .footerlink li {
	position:relative;
	padding-left:15px;
	padding-bottom:5px;
}
footer .footerlink li::before {
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 0;
    height: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: -webkit-transform .35s;
    transition: transform .35s;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #9da9b9;
    content: '';	
}
footer .footerlink li a {
	display:block;
	font-size:14px;
	font-weight:600;
	color:#fff;
	line-height:24px;
	letter-spacing:-0.03em;
}
footer .footerbigbtn {
	display:block;
	padding:12px 20px;
	margin-bottom:10px;
	border:1px solid #566170;
	font-size:18px;
	font-weight:600;
	color:#fff;
	text-align:center;
	border-radius:5px;
	letter-spacing:-0.03em;
	transition:background .3s;
	background:none;
	width:230px;
	cursor:pointer;
	position:relative;
}
footer .footerbigbtn:hover {
	background:#55657a;
	text-decoration:none;
}
footer .footermenu {
	border-bottom:1px solid #566170;
}
footer .footerprivate {
	text-align:right;
	margin-bottom:20px;	
}
footer .footerprivate a {
	display:inline-block;
	color:#9da9b9;
	font-size:14px;
	font-weight:600;
	letter-spacing:-0.03em;
	margin-left:15px;
}
footer .footercopyright {
	font-size:12px;
	font-weight:600;
	color:#fff;
}
@media (max-width: 991px) {
	.navbar .container {
		max-width:100% !important;
		margin:0px !important;
		padding:0px !important;
	}
	.mainnav .nav-item {
		background:#f4731a;
		margin:0px;
		border-top:1px solid #fff;
	}
	.navbar.topbar ul {
		flex-flow:row nowrap;
		margin:0px auto;
	}
	.fullmenu a::before {
		background:none;
	}
	.fullmenu a {
		background:#f4731a;
		color:#fff;
		font-size:18px;
		font-weight:bold;
		text-align:left;
		height:50px;
		padding:8px 0px 8px 4px;
		border-radius:0px;
	}
	.ay-submenu h3 {
		margin-bottom:0px;
		position:relative;
	}
	.ay-submenu h3 a {
		display:block;
		width:100%;
		padding:10px 10px 10px 25px;
		margin-bottom:0px;
		border-top:1px solid #fff;
		background:#eee;
		color:#333;
	}
	.ay-submenu .dropdown > a {
		color:#fff !important;
	}	
	.ay-submenu .dropdown-menu {
		margin:0px;
		padding:0px;
		border:0px;
	}
	.ay-submenu > .dropdown > .nav-link {
		padding-left:5px;
	}
	.ay-submenu > .dropdown.show > a {
		color:#fff !important;
	}
	.ay-submenu .container {
		margin:0px !important;
		padding:0px !important;
	}		
	.ay-submenu .container .col-lg-2 {
		padding:0px !important;
	}	
	.ay-submenu .m-menusprite {
		display:block;
		width:100%;
		padding:10px;
		margin-bottom:0px;
		background:#eee;
		color:#333;
		text-align:left;
		font-size:16px;
		font-weight:600;
		border-top:1px solid #fff;
	}	
	.noticecontent .tab-pane {
		padding:12px;
	}
	.noticetab .nav-item .nav-link {
		font-size:14px;
	}
	.newscontent .newsdetail .readmore {
		margin:10px;
		position:static;
		float:right;
	}		
	footer .footerlogo {
		text-align:center;
	}
	footer .footercopyright {
		padding:10px;
	}
}